<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="rubber_target" sequenceNumber="4">
<locations>
<location path="D:\Java\cane_j\rubber_target_platform" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>ru_RU</nl>
</environment>
</target>
